* {
  box-sizing: border-box;
  
}
body {
  background-color: rgb(255, 255, 255);
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.Logo {
   width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;

}


 